/* <============ APPEL DES FONTS */
/* GOOGLE FONTS IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* CUSTOM FONT */
@font-face {
  font-family: "Menu";
  src: url(assets/fonts/Vanity-BoldNarrowItalic.ttf);
}

/* VARIABLES CSS*/
:root {
  /* VARIABLES GENERALES */
  --font-primary: "Orbitron", sans-serif;
  /* HORLOGE VARIABLES */

  /* CHRONO VARIABLES */

  /* MINUTEUR VARIABLES */
  /* BackGround */
  --bg-minuteur: #1f2241;
  /* Others */
  --minuteur-light: #f5f5f5;
  --minuteur-shadow: #393e79;
  --minuteur-start: #adff2f;
  --minuteur-stop: #cd5c5c;
  --minuteur-hover: #7276aa;
  /* REVEIL VARIABLES */
}
/* <================ RESET CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #161616;
}

/* <================== ACCUEIL */

h1 {
  font-family: "Menu";
  font-size: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  color: whitesmoke;
  transform: translate(-50%, -50%);
  z-index: -2;
}
.menu-open {
  color: #dfe8e0;
}

.menu-open,
.menu-close {
  font-family: "Menu";
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px;
  font-size: 40px;
  cursor: pointer;
}

.nav-container {
  position: absolute;
  z-index: 100;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: #dfe8e0;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.menu {
  padding: 12vh 0 24vh;
}

.menu__item-link {
  text-decoration: none;
  color: #000;
  display: inline-block;
  font-family: "Menu";
  font-size: 5vw;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.1s;
  line-height: 100px;
}

.menu__item-img {
  position: relative;
  top: 10px;
  padding: 0 20px;
  z-index: 2;
  pointer-events: none;
  height: 10vh;
  max-height: 600px;
  opacity: 1;
  transform: scale(0);
}

.menu__item:hover > .menu__item-img {
  transform: scale(1);
  transition: all 0.2s;
}

@media (max-width: 900px) {
  .menu__item-link {
    font-size: 8vw;
    line-height: 70px;
  }
}

/* <============ MODULE - COMPOSANTS*/

.module-1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #b6fbff, #83a4d4);
}

/* <============ HORLOGE CSS*/

.horloge {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  text-shadow: 0 2px 50px #0a0a0a80;
}

.heures {
  width: 500px;
  font-size: 100px;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-primary);
}

.date {
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
}

.time {
  font-family: "Orbitron", sans-serif, monospace;
  font-weight: 300;
  font-size: 48px;
}
/* <================= RÉVEIL */

/* <================= CHRONO CSS */

.mode-2 {
  display: grid;
  justify-items: center;
  gap: 23px;
  width: 100%;
  padding-top: 25px;
}

.chrono {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

.controls {
  display: flex;
  justify-content: center;
  width: 178px;
}

button {
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:last-child {
  padding-top: 5px;
}

button:active {
  transform: scale(0.9);
}

button:hover {
  color: var(--color-secondary);
}

.play {
  display: block;
}

.pause {
  display: none;
}

.reset {
  padding-top: 6px;
}

.lap-btn {
  padding-top: 6px;
  padding-left: 5px;
}

.laps {
  list-style: none;
  width: 250px;
  height: 250px;
  overflow: auto;
  position: relative;
  padding: 30px 0px;
  margin-top: -20px;
}

.laps::-webkit-scrollbar {
  display: none;
}

.lap-items {
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid #444;
  border-radius: 50px;
  margin-bottom: 15px;
}

.number {
  color: var(--color-primary);
}

.time-record {
  display: inline-block;
  font-family: "Orbitron", sans-serif;
  color: var(--color-primary);
  margin-left: 25px;
}

.lap-clear-btn {
  display: block;
  position: fixed;
  z-index: 1000;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%);
  width: 130px;
  padding: 15px 0;
  border-radius: 50px;
  background-color: rgba(245, 245, 245, 0.7);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.lap-clear-btn p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-family: "Orbitron", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
/*  */
.display-none {
  display: none;
}
/* <================= MINUTEUR CSS */

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 10px var(--minuteur-shadow);
}

.timer-button {
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.timer-button span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: whitesmoke;
}

.timer-button span:hover {
  color: var(--minuteur-hover);
}

.timer-button-start span {
  color: var(--minuteur-start);
}

.timer-button-stop span {
  color: var(--minuteur-stop);
}

.minuteur {
  background-color: var(--bg-minuteur);
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(42.5rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
}

.panel-container {
  display: grid;
  z-index: 50;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 20rem;
  margin-block: 5rem;
  padding: 2rem;
  border-radius: 10rem;
  box-shadow: 0px 0px 15px 10px var(--minuteur-shadow);
  outline: 0;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  background-color: var(--minuteur-stop);
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
  z-index: 30;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background-color: var(--bg-minuteur);
}

.time {
  position: relative;
  display: flex;
  z-index: 30;
}

.time p {
  font-size: 4.4rem;
  color: var(--minuteur-light);
}

.time p:nth-of-type(2) {
  position: relative;
  z-index: 50;
  top: -0.3rem;
  margin-inline: 1rem;
}

/*  MINUTEUR POPUP  */

.popup {
  width: 500px;
  background: var(--minuteur-shadow);
  border-radius: 6px;
  position: absolute;
  z-index: 90;
  top: 0;
  left: 50%;
  transform: translate(-50%, -55%) scale(0.1);
  text-align: center;
  padding: 0px 30px 16px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.open-popup {
  visibility: visible;
  top: 55%;
  transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
  color: var(--minuteur-light);
  font-family: 'Orbitron', sans-serif;
}

.popup span {
  font-size: 50px;
  margin-top: -25px;
  border-radius: 50%;
  color: var(--minuteur-light);
  box-shadow: 0 2px 5px rgba(245, 245, 245, 0.3);
}

.popup input {
  width: 100px;
  height: 65px;
  margin-top: 10px;
  border-radius: 6px;
  outline: none;
  border: 0;
  box-shadow: 0 5px 5px rgba(10, 10, 10, 0.5);
  font-size: 30px;
  font-weight: 500;
  font-family: var(--font-primary);
  color: var(--minuteur-shadow);
  text-align: center;
}

.popup button {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0px;
  background-color: var(--minuteur-stop);
  border: 0;
  outline: none;
  border-radius: 4px;
  font-size: 18px;
  color: var(--minuteur-light);
  box-shadow: 0 5px 5px rgba(10, 10, 10, 0.5);
}